asgiref==3.8.1
asttokens
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
colorama
comm
cryptography==42.0.8
debugpy
decorator
Django==4.2.14
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
easyocr==1.7.1
exceptiongroup
executing
idna==3.7
importlib_metadata
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib-inline
nest_asyncio
packaging
parso
pickleshare
platformdirs
prompt_toolkit
psutil==6.0.0
pure-eval==0.2.2
pycparser==2.22
Pygments==2.18.0
PyJWT==2.8.0
python-dateutil==2.9.0.post0
pyzmq==26.0.3
requests==2.32.3
six==1.16.0
sqlparse==0.5.0
stack-data==0.6.3
tornado==6.4.1
traitlets==5.14.3
typing-extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13
zipp==3.19.2
django-heroku==0.3.1
gunicorn
whitenoise
